body{
    background: hsl(0, 0%, 5%);
    font-family: 'Poppins', sans-serif;
    
}
:root{
    --heavy-radius: 5vh;
    --light-radius: 100vh;
}
html {
    scroll-behavior: smooth;
}
.main {
    margin: 0 auto;
    height: 80vh;
    width: 80vw;
    padding: 10%;
}
#bar {
    top: 0;
    position: fixed;
    height: 10%;
    width: 100vw;
    right: 0;
    background: hsl(0, 0%, 10%);
    z-index: 100000;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.barbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: hsl(145, 100%, 35%);
    height: 2.5vh;
    width: 5vw;
    padding: 1vw;
    border-radius: var(--light-radius);
    border: 1px solid lightgray;
    transition:all 0.5s;
    font-size: 1.5vh;
}
#logo-bar{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0.5vw; /* spacing between buttons instead of margin */
    margin: 0;
    padding: 0;
    width: 25%;
}
#nav-bar{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2.5vw; /* spacing between buttons instead of margin */
    margin: 0;
    padding: 0;
    width: 50%;
}
.barbtn:hover {
    transform: scale(1.25);
    background-color: hsl(145, 100%, 35%);
    color: black; 
    border: transparent;
}
#menu-btn:hover{
    background-image: url(logo-hover.png) ;
}
@keyframes hoverAnimation {
    0% {background-color: gray; }
    100% { height: 3.25vh; width: 5.75vw; background-color: #01461e; }
}
#logo{
     background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 8vw;
    min-width: 60px;
    height: 6vh;
    background-image: url(logo.png);
}
#menu-btn {
    display: none;
    background-image: url(menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 7vw;
    min-width: 40px;
    height: 5vh;
    cursor: pointer;
    margin-left: auto;
    right: 5%;
}
#mobile-menu {
    display: none;
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    background: hsl(0, 0%, 10%);
    flex-direction: column;
    z-index: 99999;
    align-items: center;
    justify-content: center;
}
#mobile-menu a {
    padding: 3vh 0;
    text-align: center;
    text-decoration: none;
}
.p-barbtn{
    color: hsl(145, 100%, 35%);
    width: 100%;
    height: 25%;
}
.p-barbtn:hover{
    background-color: hsl(145, 100%, 35%);
    color: black;
}
#mainh1{
    color: black;
    font-size: 2.5vh;
}
#photo-slider {
    margin: 0 auto;
    margin-top: 15vh;
    position: relative;
    height: 75vh;
    width: 75vw;
    background-image: url('1000.png');
    background-size: cover;
    background-position: center;
    border-radius: var(--heavy-radius);
    animation: mainScreenAnimation 25s infinite;
    box-shadow: -1vh 1vw 15px hsl(0, 0%, 7%), -2.4vh 2.5vw 10px hsl(0, 0%, 15%);
}
#photo-wrapper{
     position: absolute;
    inset: 0;
    background: radial-gradient(circle at top center, white 0%, transparent 70%);
    pointer-events: none;
}
.shine{
    position: absolute;
    inset: 0;
    z-index: 2;
    border-radius: inherit;
    background: radial-gradient(ellipse at top center, white 0%, transparent 40%);
    pointer-events: none;
}
@keyframes mainScreenAnimation {
    0% { opacity: 0; }
    5% { opacity: 1 }
    20%{background-image: url('1000.png');}
    25%{background-image: url('shoes1.png');}
    40%{background-image: url('shoes1.png');}
    45%{background-image: url('shoes2.png');}
    60%{background-image: url('shoes2.png');}
    65%{background-image: url('shoes3.png');}
    80%{background-image: url('shoes3.png');}
    85%{background-image: url('shoes4.png');}
    100%{background-image: url('shoes4.png');}
}
#design{
    display: flex;
    margin: 0 auto;
    position: relative;
    margin-top: 7%;
    height: 90vh;
    width: 90vw;
    background: hsl(0, 0%, 20%);
    border-radius: var(--heavy-radius);
    box-shadow: -1vh 1vw 15px hsl(0, 0%, 7%), -2.4vh 2.5vw 10px hsl(0, 0%, 15%);

}
.design{
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 42vh;
    width: 42vw;
    border-radius: var(--light-radius);
    border: solid 1px;
    transition: all 1s;
}
@keyframes designAnimation1{
    0%{ width: 70vw; height: 70vh; background: url(shoes1.png) center;}
    24% { transform: translate(0,0); width: 70vw; height: 70vh; background: url(shoes1.png) center;}
    25% { transform: translate(0, 71vh); width: 70vw; height: 14vh; background: hsl(0, 0%, 10%); }
    49% { transform: translate(0, 71vh); width: 70vw; height: 14vh; background: hsl(0, 0%, 10%); }
    50% { transform: translate(71vw, 71vh); width: 14vw; height: 14vh; background: #32965b; }
    74% { transform: translate(71vw, 71vh); width: 14vw; height: 14vh; background: #32965b;}
    75% { transform: translate(71vw, 0); width: 14vw; height: 70vh; background: hsl(0, 0%, 15%);}
    99% { transform: translate(71vw, 0); width: 14vw; height: 70vh; background: hsl(0, 0%, 15%);}
    100%{ width: 70vw; height: 70vh;}

}
@keyframes designAnimation2{
    0%{ width: 14vw; height: 70vh; background: hsl(0, 0%, 15%);}
    24% { transform: translate(0,0); width: 14vw; height: 70vh; background: hsl(0, 0%, 15%);}
    25%{transform: translate(-15vw, 0); width: 70vw; height: 70vh; background: url(shoes2.png) center;}
    49%{transform: translate(-15vw, 0); width: 70vw; height: 70vh; background: url(shoes2.png) center;}
    50%{transform: translate(-15vw, 71vh); width: 70vw; height: 14vh; background: hsl(0, 0%, 10%);}
    74%{transform: translate(-15vw, 71vh); width: 70vw; height: 14vh; background: hsl(0, 0%, 10%);}   
    75%{transform: translate(0, 71vh); width: 14vw; height: 14vh; background: #32965b;}
    99%{transform: translate(0, 71vh); width: 14vw; height: 14vh; background: #32965b;}
    100%{ width: 14vw; height: 70vh;}
}
@keyframes designAnimation3{
    0%{width: 70vw; height: 14vh; background: hsl(0, 0%, 10%);}
    24% { transform: translate(0,0); width: 70vw; height: 14vh; background: hsl(0, 0%, 10%);}
    25%{ transform: translate(71vw, 0); width: 14vw; height: 14vh; background: #32965b;}
    49%{ transform: translate(71vw, 0); width: 14vw; height: 14vh; background: #32965b;}
    50%{ transform: translate(71vw, -15vh); width: 14vw; height: 70vh; background: hsl(0, 0%, 15%);}
    74%{ transform: translate(71vw, -15vh); width: 14vw; height: 70vh; background: hsl(0, 0%, 15%);}
    75%{ transform: translate(0, -15vh); width: 70vw; height: 70vh; background: url(shoes3.png) center;}
    99%{ transform: translate(0, -15vh); width: 70vw; height: 70vh; background: url(shoes3.png) center;}
    100%{width: 70vw; height: 14vh;}
}
@keyframes designAnimation4{
    0%{ width: 14vw; height: 14vh; background: hsl(145, 100%, 35%);}
    24% { transform: translate(0,0); width: 14vw; height: 14vh; background: hsl(145, 100%, 35%);}
    25%{ transform: translate(0, -15vh);width: 14vw; height: 70vh; background: hsl(0, 0%, 15%);}
    49%{ transform: translate(0, -15vh); width: 14vw; height: 70vh; background: hsl(0, 0%, 15%);}
    50%{ transform: translate(-15vw, -15vh); width: 70vw; height: 70vh; background: url(shoes4.png) center;}
    74%{ transform: translate(-15vw, -15vh); width: 70vw; height: 70vh; background: url(shoes4.png) center;}
    75%{ transform: translate(-15vw, 0); width: 70vw; height: 14vh; background: hsl(0, 0%, 10%);}
    99%{ transform: translate(-15vw, 0); width: 70vw; height: 14vh; background: hsl(0, 0%, 10%);}
    100%{ width: 14vw; height: 14vh;}
}
#color-wrapper{
    position: absolute;
    inset: 0;
    z-index: 2;
    pointer-events: auto;
    transition: background-color 0.3s ease;
}
#color-wrapper:hover{
    background-color: rgba(211, 211, 211, 0.1);
}
#about-us{
    padding: 0;
    position: relative;
    margin: 0% auto;
    margin-top: 7%;
    height: 85vh;
    width: 85vw;
    border-radius:var(--heavy-radius) ;
    background-color: hsl(0, 0%, 15%);
    box-shadow: -1vh 1vw 15px hsl(0, 0%, 7%), -2.4vh 2.5vw 10px hsl(0, 0%, 15%);

}
.heavy-text {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    background: linear-gradient(hsl(0, 0%, 70%) 0%, hsl(0, 0%, 100%) 50%, hsl(0, 0%, 70%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-shadow: -0.25vh 0.25vw 15px hsl(0, 0%, 7%);
}
.light-text {
     background: linear-gradient(hsl(0, 0%, 50%) 0%, hsl(0, 0%, 80%) 50%, hsl(0, 0%, 50%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-shadow: -0.1vh 0.1vw 15px hsl(0, 0%, 7%), -0.5vh 0.5vw 10px hsl(0, 0%, 15%);
}
#about-box-1{
    font-size: min(2vw, 1.5em);
    background: linear-gradient(hsl(0, 0%, 50%) 0%, hsl(0, 0%, 80%) 50%, hsl(0, 0%, 50%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* fallback for browsers that don't support the above */
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 30vh;
    width: 30vw;
    top: 0;
    left: 0;
}
#about-box-2{
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 50vh;
    width: 50vw;
    top: 0;
    right: 0;
    background: radial-gradient(circle at bottom left, hsl(145, 100%, 35%) 0%, hsl(0, 0%, 10%) 95%);
    border-radius: 40%;
    transition: background-color 1s; 
    animation: box 1s;
    box-shadow: -1vh 1vw 15px hsl(0, 0%, 7%), -2.4vh 2.5vw 10px hsl(0, 0%, 15%);

}
@keyframes box{
    0%{scale: 0.1;}
    100%{scale: 1;}

}
#about-box-2-inner{
    border-radius: 40%;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 40vh;
    width: 40vw;
    bottom: 0;
    left: 0;
    background-image: url('shoes1.png');
    transition: height 1s, width 1s, border-radius 1s;
    animation: box 1s;
}
#about-box-2:hover #about-box-2-inner{
    height: 50vh;
    width: 50vw;
    border-radius: 40%;
}
#about-box-2:hover{
    background: hsl(145, 100%, 35%);
}
#about-box-3{
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 60vh;
    width: 40vw;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle at top right, hsl(145, 100%, 35%) 0%, hsl(0, 0%, 10%) 95%);
    border-radius: 30%;
    transition: background-color 1s;
    animation: box 1s;
    box-shadow: -1vh 1vw 15px hsl(0, 0%, 7%);

}
#about-box-3-inner{
    border-radius: 30%;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 50vh;
    width: 30vw;
    top: 0;
    right: 0;
    background-image: url('shoes2.png');
    transition: height 1s, width 1s, border-radius 1s;
    animation: box 1s;
}
#about-box-3:hover{
    background: hsl(145, 100%, 35%);
}
#about-box-3:hover #about-box-3-inner{
    height: 60vh;
    width: 40vw;
    border-radius: 30%;
}
#about-box-4{
    font-size: 2.5vw;
    background-position: center;
    background-size: cover;
    position: absolute;
    height: 30vh;
    width: 40vw;
    bottom: 0;
    right: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* fallback for browsers that don't support the above */
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background: linear-gradient(hsl(0, 0%, 50%) 0%, hsl(0, 0%, 80%) 50%, hsl(0, 0%, 50%));
    background-clip: text;

}
#contact-wrapper{
    position: relative;
    background-color: hsl(0, 0%, 10%);
    width: 85vw;
    height: 35vh;
    left: 7.5vw;
    border-radius: var(--heavy-radius);
    box-shadow: -1vh 1vw 15px hsl(0, 0%, 7%), -2.4vh 2.5vw 10px hsl(0, 0%, 15%);
}
#contact-us{
    left: 5vw;
    font-size: 1.5em;
    padding: 0;
    position: relative;
    margin: 0% auto;
    margin-top: 7%;
    height: 35vh;
    width: 85vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* fallback for browsers that don't support the above */
    background: linear-gradient(hsl(0, 0%, 50%) 0%, hsl(0, 0%, 80%) 50%, hsl(0, 0%, 50%));
    background-clip: text;
    line-height: 1.4;
}
@media (orientation: portrait) {
    /* bigger nav buttons */
    .barbtn {
        width: 20vw;
        height: 5vh;
        font-size: 2.2vh;
        padding: 3vw 1vw;
    }
    #nav-bar {
        gap: 3vw;
    }

    /* smaller main header */
    #mainh1 {
        font-size: 200%;
    }

    #about-us{
        height: 42.5dvh;
    }
    #about-box-1{
        height: 15dvh;
    }
     #about-box-2{
        height: 25dvh;
    }
     #about-box-2-inner{
        height: 20dvh;
    }
    #about-box-2:hover #about-box-2-inner{
        height: 25dvh;
    }
     #about-box-3-inner{
        height: 25dvh;
    }
    #about-box-3:hover #about-box-3-inner{
        height: 30dvh;
    }
     #about-box-3{
        height: 30dvh;
    }
     #about-box-4{
        height: 15dvh;
    }
 
    #design{
        height: 42.5dvh;
    }
    #photo-wrapper{
        height: 41dvh;
    }
    #photo-slider{
        height: 37.5dvh;
    }
@keyframes designAnimation1{
    0%{ width: 70vw; height: 35vh; background: url(shoes1.png) center/cover no-repeat;}
    24% { transform: translate(0,0); width: 70vw; height: 35vh; background: url(shoes1.png) center/cover no-repeat;}
    25% { transform: translate(0, 35.5vh); width: 70vw; height: 7vh; background: hsl(0, 0%, 10%); }
    49% { transform: translate(0, 35.5vh); width: 70vw; height: 7vh; background: hsl(0, 0%, 10%); }
    50% { transform: translate(71vw, 35.5vh); width: 14vw; height: 7vh; background: #32965b; }
    74% { transform: translate(71vw, 35.5vh); width: 14vw; height: 7vh; background: #32965b; }
    75% { transform: translate(71vw, 0); width: 14vw; height: 35vh; background: hsl(0, 0%, 15%); }
    99% { transform: translate(71vw, 0); width: 14vw; height: 35vh; background: hsl(0, 0%, 15%); }
    100%{ width: 70vw; height: 35vh; background: url(shoes1.png) center; }
}
@keyframes designAnimation2{
    0%{ width: 14vw; height: 35vh; background: hsl(0, 0%, 15%);}
    24% { transform: translate(0,0); width: 14vw; height: 35vh; background: hsl(0, 0%, 15%);}
    25%{transform: translate(-15vw, 0); width: 70vw; height: 35vh; background: url(shoes2.png) center/cover no-repeat;}
    49%{transform: translate(-15vw, 0); width: 70vw; height: 35vh; background: url(shoes2.png) center/cover no-repeat;}
    50%{transform: translate(-15vw, 35.5vh); width: 70vw; height: 7vh; background: hsl(0, 0%, 10%);}
    74%{transform: translate(-15vw, 35.5vh); width: 70vw; height: 7vh; background: hsl(0, 0%, 10%);}
    75%{transform: translate(0, 35.5vh); width: 14vw; height: 7vh; background: #32965b;}
    99%{transform: translate(0, 35.5vh); width: 14vw; height: 7vh; background: #32965b;}
    100%{ width: 14vw; height: 35vh; background: hsl(0, 0%, 15%); }
}
@keyframes designAnimation3{
    0%{width: 70vw; height: 7vh; background: hsl(0, 0%, 10%);}
    24% { transform: translate(0,0); width: 70vw; height: 7vh; background: hsl(0, 0%, 10%);}
    25%{ transform: translate(71vw, 0); width: 14vw; height: 7vh; background: #32965b;}
    49%{ transform: translate(71vw, 0); width: 14vw; height: 7vh; background: #32965b;}
    50%{ transform: translate(71vw, -7.5vh); width: 14vw; height: 35vh; background: linear-gradient(to bottom, #32965b 40%, lightgray 100%);}
    74%{ transform: translate(71vw, -7.5vh); width: 14vw; height: 35vh; background: linear-gradient(to bottom, #32965b 40%, lightgray 100%);}
    75%{ transform: translate(0, -7.5vh); width: 70vw; height: 35vh; background: url(shoes3.png) center/cover no-repeat;}
    99%{ transform: translate(0, -7.5vh); width: 70vw; height: 35vh; background: url(shoes3.png) center/cover no-repeat;}
    100%{width: 70vw; height: 7vh; background: hsl(0, 0%, 10%); }
}
@keyframes designAnimation4{
    0%{ width: 14vw; height: 7vh; background: #32965b;}
    24% { transform: translate(0,0); width: 14vw; height: 7vh; background: #32965b;}
    25%{ transform: translate(0, -7.5vh);width: 14vw; height: 35vh; background: linear-gradient(to bottom, #32965b 40%, lightgray 100%);}
    49%{ transform: translate(0, -7.5vh); width: 14vw; height: 35vh; background: linear-gradient(to bottom, #32965b 40%, lightgray 100%);}
    50%{ transform: translate(-15vw, -7.5vh); width: 70vw; height: 35vh; background: url(shoes4.png) center/cover no-repeat;}
    74%{ transform: translate(-15vw, -7.5vh); width: 70vw; height: 35vh; background: url(shoes4.png) center/cover no-repeat;}
    75%{ transform: translate(-15vw, 0); width: 70vw; height: 7vh; background: hsl(0, 0%, 10%);}
    99%{ transform: translate(-15vw, 0); width: 70vw; height: 7vh; background: hsl(0, 0%, 10%);}
    100%{ width: 14vw; height: 7vh; background: #32965b; }
}
    #nav-bar { display: none; }
    #menu-btn { display: block; position: fixed; }
    #mobile-menu.open { display: flex; }
    .main-title{
       font-size: min(5vw, 3em);
    }
}